html {
  font-family: Arial;
  overflow-y: scroll;
}

img {
  flex: 1;
}

img.info_graphic {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 0px;
  text-align: left;
  opacity: 1;
  transition: 0.2s ease-in;
  color: #fff;
}

a.norm {
  text-decoration: underline;
  color: #fff;
}

h2 {
  display: inline;
  background-color: #d2d1d1;
  padding: 10px 0px;
  margin: 0px;
  margin-bottom: 20px;
  opacity: 1;
  transition: 0.2s ease-in;
  width: 100%;
}

hr {
  text-align: left;
  margin: 50px 0px;
  border: 0px;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 1), rgba(255,255,255,0));
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content:center;
  margin: 0px;
  background-image: url("../images/greyStripe.png");
  background-repeat: repeat;
}

main {
  text-align: center;
  width: 100%;
}

footer {
  text-align: center;
  width:100%;
  padding: 50px;
  background-color: #555555;
  color: #dfdfdf
}

.image-container {
  margin-top: -50px;
}

.image-overlay {
  position: absolute;
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(0, 0, 0, 1));
}

.temp-hide {
  margin-top: 100px;
  opacity: 0;
}

.main-top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 0vh;
  height: 70vh;
}

.content-container {
  display: flex;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0) 150px);
}

.padding {
  flex:3 1 auto;
}

.main-content {
  display: block;
  flex:1 1 400px;
  margin: 0 auto;
  padding: 0px 40px;
  overflow-y: hidden;
  background-image: linear-gradient(to bottom, rgba(100,100,100,0), rgba(255, 255, 255, 0.03) 100px);
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-top: 60px;
  margin-bottom: 150px;
  transition: 1s;
}

.hidden {
  opacity: 0 !important;
  z-index: 1;
  transform: translate(0px,40px);
}
