/* General stuff */

h1 {
  margin: 0px;
}

/* Header block at top */

.header-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: fixed;
  height: 10em;
  width: 100vw;
  background-color: #959595;
  margin: 0px;
  padding: 0px;
  top: 0px;
  text-align: center;
  transition: height 0.4s ease-in-out;
  z-index: 10000;
}

.header-block-minimise {
  height: 60px;
  opacity: 0.95;
}

.header-titlebar {
  margin: auto;
  flex: 1 1 auto;
  display: flex;
}

.header-titlebar h1 {
  margin: auto;
}

.header-navbar {
  align-self: stretch;
  background-color: #757575;
}

.header-navbar nav {
  width: 80vw;
  height: 60px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
}

.header-navbar a {
  padding-top: 20px;
  font-size: 20px;
  color: #000;
  background-color: #696969;
  text-decoration: none;
  display: block;
  flex: 1 1 auto;
}

.header-navbar a#active_link {
  background-color: #808080
}

.header-navbar a:hover {
  background-color: #858585 !important;
}

.navside-container {
  display: block;
  position: fixed;
  left: 0px;
  top:200px;
}

.navside {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  width: 10px;
  height: 40vh;
}

.navside a {
  display: block;
  background-color: #b3b3b3;
  border-radius: 0px;
  border: solid 1px #222;
  padding: 20px 10px;
  width: 10px;
  margin-left: 0px;
  border-left: 0px;
  overflow-x: hidden;
  white-space: nowrap;
  color: #b3b3b3;
  transition: 0.2s ease-in-out 0s;
  cursor: pointer;
}

.navside a:hover {
  width: 100%;
  color: #323131;
  background-color: #8e8787;
}

.active_side a {
  background-color: #8e8787;
  color: #8e8787;
}

/* Back to top button */

#button-to_top {
  display: block;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin-bottom: 10vh;
  margin-right: 80px;
  padding: 20px;
  background-color: #888;
  opacity: 0.8;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out 0s, margin-bottom 0s ease-out 1s;
}

#button-to_top::after {
  content: '';
  display: block;
  position: fixed;
  margin-top: -4px;
  margin-left: -7px;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
  border-color: #000;
  transform: rotate(45deg);
  padding: 5px;
}

#button-to_top:hover {
  opacity: 0.8;
}

#button-to_top.button_off {
  margin-right: -100px;
}
